@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800");
/*
	Create by Jeison Obando

*/

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

body {
	background: #1b1b1b;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Type */

body {
	background-color: #1b1b1b;
	color: rgba(255, 255, 255, 0.75);
}

body, input, select, textarea {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 300;
	line-height: 1.65;
}

/* about me */

.wrapper-about {
	padding: 0 5em 0 5em;
}

@media (max-width: 600px) {
	.d-about {
		font-size: 15px;
	}
	.about-art {
		padding: 15px !important;
	}
	#one {
		padding: 0 !important;
	}
}

/* SLIDE PROJECTS */

/* Slideshow container */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */

.mySlides {
	display: none;
	position: relative;
}

/* description projects*/

.desc-pro {
	display: flex !important;
	font-weight: bold;
	position: absolute;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 75%
}

.desc-pro p {
	display: none;
}

.mySlides .text {
	color: black
}

.mySlides a img {
	border-radius: 5px;
	transition: all 1s ease-out;
	width: 75%;
}

.mySlides a img:hover {
	transform: scale(1.05);
}

.mySlides a div {
	border: 0;
	border-radius: 5px;
	padding: 5px 32px;
	margin: auto;
}

.mySlides a div p {
	color: white !important;
	text-decoration: none !important;
	font-size: 16px;
}

@media (max-width: 750px) {
	.art-pro, .desc-pro, #banner {
		padding: 0px !important;
		margin: 0px !important;
	}
	.desc-pro {
		width: 100%;
	}
}

/* Next & previous buttons */

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px 0 0 3px;
	user-select: none;
}

/* Position the "next button" to the right */

.prev {
	left: 0;
}

.next {
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
	background-color: rgba(241, 81, 81, 0.8);
}

/* Caption text */

.text-btn {
	color: #050505;
	font-size: 18px;
	font-weight: bold;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

/* Box */

.box {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 4em;
}

.box .content {
	font-weight: bold !important;
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center !important;
}

.article-project {
	margin: 3px;
}

.box .content figcaption:hover {
	background-color: red;
}

.box header p {
	color: rgba(255, 255, 255, 0.5);
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Image */

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

.skills {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0;
	flex-wrap: wrap;
	display: flex !important;
}

.skills-div {
	margin: 10px;
}

.skills-title {
	font-weight: bold;
	font-size: 2em;
}

.skills-img {
	width: 200px;
}

.skills-list {
	border-radius: 12px !important;
}

@media (max-width: 1200px) {
	.skills-img {
		width: 40% !important;
	}
	.skills-title {
		font-size: 1.3em !important;
	}
	.box-skills {
		padding: 0 !important;
	}
	.skills-list {
		font-size: .8em;
	}
}

@media (max-width: 580px) {
	.skills-title {
		font-size: 1.2em !important;
	}
	.skills-list {
		font-size: .7em !important;
	}
	.title {
		font-size: 1.5em !important;
		padding: 0 !important;
	}
}

/* Header */

body.subpage {
	padding-top: 3.125em;
}

#header {
	background-color: transparent;
	color: #fdd1d1;
	cursor: default;
	height: 3.25em;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	text-align: right;
	top: 1em;
	width: 100%;
	z-index: 10001;
	padding: 0 1.5em;
}

#header .logo {
	display: flex;
	align-items: center;
	height: inherit;
	left: 1.5em;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

#header .logo a {
	font-size: 1.4em;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	font-family: 'Londrina Solid', cursive;
	letter-spacing: 5px;
}

#header .logo a:hover {
	color: #fff;
}

#header .logo span {
	font-weight: 300;
	font-size: .8em;
	color: #FFF;
}

#header>a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

#header>a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 100%;
	height: 2.5em;
	width: 2.5em;
	line-height: 2.5em;
	color: #FFF;
	text-align: center;
}

#header>a[href="#menu"]:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#header>a[href="#menu"]:hover {
	color: rgba(255, 255, 255, 0.25);
	background: none;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

#header>a[href="#menu"]:before {
	margin: 0;
}

#header>a[href="#menu"] span {
	display: none;
}

@media screen and (max-width: 736px) {
	#header>a {
		padding: 0 0.5em;
	}
}

/* Menu */

#menu {
	-moz-transform: translateX(20em);
	-webkit-transform: translateX(20em);
	-ms-transform: translateX(20em);
	transform: translateX(20em);
	-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-overflow-scrolling: touch;
	background: #f64242;
	box-shadow: none;
	color: #ffffff;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 20em;
	z-index: 10002;
}

#menu>ul {
	margin: 0 0 1em 0;
}

#menu>ul.links {
	list-style: none;
	padding: 0;
}

#menu>ul.links>li {
	padding: 0;
}

#menu>ul.links>li>a:not(.button) {
	border: 0;
	border-top: solid 1px rgba(255, 255, 255, 0.25);
	color: inherit;
	display: block;
	line-height: 3.5em;
	text-decoration: none;
}

#menu>ul.links>li>.button {
	display: block;
	margin: 0.5em 0 0 0;
}

#menu>ul.links>li:first-child>a:not(.button) {
	border-top: 0 !important;
}

#menu .close {
	text-decoration: none;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	-webkit-tap-highlight-color: transparent;
	border: 0;
	color: #fbb5b5;
	cursor: pointer;
	display: block;
	height: 3.25em;
	line-height: 3.25em;
	padding-right: 1.25em;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 7em;
}

#menu .close:before {
	content: "";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#menu .close:before {
	font-size: 1.25em;
}

#menu .close:hover {
	color: #ffffff;
}

@media screen and (max-width: 736px) {
	#menu .close {
		height: 4em;
		line-height: 4em;
	}
}

#menu.visible {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
	visibility: visible;
}

/* Banner */

#banner {
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	padding: 8em 0 6em 0;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-top: 0;
	min-height: 100vh;
	height: 100vh;
	position: relative;
	text-align: center;
	overflow: hidden;
}

#banner .inner {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
	opacity: 1;
	position: relative;
	z-index: 2;
}

.inner small {
	font-weight: bold;
	font-size: 2em
}

.inner h2 {
	margin: 0 0 .5em 0;
	color: #FFF;
	font-size: 2em;
	font-family: 'Bree Serif', serif;
	font-family: 'Londrina Solid', cursive;
}

#banner h1 {
	font-size: 7em;
	line-height: 1.1;
	font-family: "Lobster", cursive;
	margin-bottom: .25em;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
	text-transform: none;
}

#banner p {
	color: rgba(255, 255, 255, 0.85);
	font-size: 1.75em;
}

@-moz-keyframes more {
	0% {
		bottom: -3em;
	}
	100% {
		bottom: 2em;
	}
}

@-webkit-keyframes more {
	0% {
		bottom: -3em;
	}
	100% {
		bottom: 2em;
	}
}

#banner .more {
	-moz-transition: height 0.2s ease;
	-webkit-transition: height 0.2s ease;
	-ms-transition: height 0.2s ease;
	transition: height 0.2s ease;
	-moz-animation: more 0.75s ease-out 3s forwards;
	-webkit-animation: more 0.75s ease-out 3s forwards;
	-ms-animation: more 0.75s ease-out 3s forwards;
	animation: more 0.75s ease-out 3s forwards;
	background-color: rgba(255, 255, 255, 0.281);
	border: 0;
	border-radius: 1em 1em 0 0;
	bottom: -3em;
	color: rgba(255, 255, 255, 0.75);
	display: block;
	height: 3em;
	left: 50%;
	margin-left: -1.5em;
	overflow: hidden;
	position: absolute;
	text-indent: 3em;
	white-space: nowrap;
	width: 3em;
	z-index: 2;
	border-radius: 100%;
	text-decoration: none;
}

#banner .more:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#banner .more:hover {
	background: none;
	color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
}

#banner .more:hover:before {
	color: rgba(255, 255, 255, 0.5);
}

#banner .more:before {
	content: '\f107';
	color: #FFF;
	font-size: 2em;
	position: absolute;
	right: .425em;
	bottom: -.075em;
}

#banner:before {
	-moz-transition: opacity 3s ease;
	-webkit-transition: opacity 3s ease;
	-ms-transition: opacity 3s ease;
	transition: opacity 3s ease;
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
	content: '';
	display: block;
	background-color: #000;
	height: 100%;
	left: 0;
	opacity: 0.45;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

@media screen and (max-width: 980px) {
	#banner {
		font-size: .85em;
	}
	#- br {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	#banner {
		background-attachment: scroll;
		min-height: 0;
		padding: 8em 2em 4em 2em;
	}
	#banner h1 {
		font-size: 6em;
	}
}

@media screen and (max-width: 480px) {
	#banner h1 {
		font-size: 4em;
	}
}

body.is-loading #banner:before {
	opacity: 1;
}

/* Banner post */

.post {
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-top: 0;
	min-height: 100vh;
	height: 100vh;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.post .box {
	margin: 0;
}

.post .inner {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-moz-transition: opacity 1.25s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1.25s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1.25s ease, -ms-transform 1s ease;
	transition: opacity 1.25s ease, transform 1s ease;
	opacity: 0;
	position: relative;
	z-index: 2;
}

.post .inner.current {
	opacity: 1;
}

.post:before {
	-moz-transition: opacity 3s ease;
	-webkit-transition: opacity 3s ease;
	-ms-transition: opacity 3s ease;
	transition: opacity 3s ease;
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
	content: '';
	display: block;
	background-color: #000;
	height: 100%;
	left: 0;
	opacity: 0.45;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.post .more {
	background-color: rgba(255, 255, 255, 0.15);
	border: 0;
	border-radius: 1em 1em 0 0;
	bottom: -3em;
	color: rgba(255, 255, 255, 0.75);
	display: block;
	height: 3em;
	left: 50%;
	margin-left: -1.5em;
	overflow: hidden;
	position: absolute;
	text-indent: 3em;
	white-space: nowrap;
	width: 3em;
	z-index: 2;
	border-radius: 100%;
	text-decoration: none;
}

.post .more:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.post .more.current {
	-moz-transition: height 0.2s ease;
	-webkit-transition: height 0.2s ease;
	-ms-transition: height 0.2s ease;
	transition: height 0.2s ease;
	-moz-animation: more 0.75s ease-out 2s forwards;
	-webkit-animation: more 0.75s ease-out 2s forwards;
	-ms-animation: more 0.75s ease-out 2s forwards;
	animation: more 0.75s ease-out 2s forwards;
}

.post .more:hover {
	background: none;
	color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
}

.post .more:hover:before {
	color: rgba(255, 255, 255, 0.5);
}

.post .more:before {
	content: '\f107';
	color: #FFF;
	font-size: 2em;
	position: absolute;
	right: .425em;
	bottom: -.075em;
}

/* ---- FOOTER ---- */
.sub-footer {
	background: #272727;
	padding: 30px;
	text-align: center;
}

ul.social-network li {
	display: inline;
	margin: 0 50px;
	font-size: 25px;
	margin-left: -10px;
}

ul.social-network li a {
	color: #d0d0d0;
}


.social-network li:hover .fa-facebook {
	color: #39579a;
}



.social-network li:hover .fa-linkedin {
	color: #0077b5;
}



.social-network li:hover .fa-dribbble {
	color: #EA4C89;
}



.copyright {
	margin-top: 40px;
}

.copyright a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	text-shadow: none;
}

.container-fluid {
	width: 70%;
	margin: auto;
}

.d-none {
	display: none;
}